@using ClassLibrary1
@model Book
@{
    ViewBag.Title = "Create";
}

<h2>Create a new book</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("Add", "Form", FormMethod.Post, new { @class = "form-horizontal", enctype="multipart/form-data" })) // abychom mohli vkladat binarni data - obrazek, je potreba dodat enctype
{

    <div class="mb-3">
        @*@Html.HiddenFor(x => x.Id, new { @class = "form-control" }) *@
        @Html.LabelFor(x => x.Name, "Name", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.Author, "Author", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.Published, "Published", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Published, new { @class = "form-control", style = "width:200px" })
        @Html.ValidationMessageFor(x => x.Published)
    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.Category, "Kategorie", new { @class = "form-label" })
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Category)
    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.Description, "Description", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control formatedtext" }) <!-- formatedtext neni pro urceni css stylu ale pro identifikaci-->

    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.ImageName, "Description", new { @class = "form-label" })
    <input type="file" name="picture" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>



}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: '.formatedtext' });</script> <!-- každá textarea s class formatedtext se přepne do režimu tinymce-->
