@model ClassLibrary1.Post
@{
    ViewBag.Title = "CreatePost";
}

<h2>CreatePost</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("UpdatePost", "Form", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) // abychom mohli vkladat binarni data - obrazek, je potreba dodat enctype
{
    @Html.HiddenFor(x => x.Id);
    @Html.HiddenFor(x => x.ImageName)

    <div class="mb-3">

        @Html.LabelFor(x => x.PostName, "Name", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.PostName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PostName)
    </div>
    <div class="mb-3">
        @*@Html.HiddenFor(x => x.Id, new { @class = "form-control" }) *@
        @Html.LabelFor(x => x.PostHead, "Post Head", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.PostHead, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PostHead)
    </div>
    <div class="mb-3">
        @*@Html.HiddenFor(x => x.Id, new { @class = "form-control" }) *@
        @Html.LabelFor(x => x.PostBody, "Post Body", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.PostBody, new { @class = "form-control formatedtext" })

    </div>
    <div class="mb-3">
        @Html.LabelFor(x => x.ImageName, "Image", new { @class = "form-label" })
        <input type="file" name="picture" />
    </div>
    @Html.ValueFor(x => x.Date, "\\@DateTime.Today")
    <button type="submit" class="btn btn-primary">Add post</button>
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: '.formatedtext' });</script> <!-- každá textarea s class formatedtext se přepne do režimu tinymce-->